.table-wrapper {
    max-height: 400px;
    overflow-y: auto;
    max-width: 1200px;
    min-width: 800px;
    margin: auto;
    margin-bottom: 20px;
    border: 1px solid grey;
}

table {
    border-collapse: collapse;
    vertical-align: middle;
    width: 100%;
}

.body-wrapper {
    background-color: #eeeeee;
}

tr.header-row {
    background-color: #4e2a84;
    color: white;
    text-align: left;
    padding: 2rem;
}

th {
    padding-left: 25px;
    font-weight: bold;
    height: 2em;
}
th:first-of-type {
    padding: 0px;
}
th:last-of-type {
    white-space: nowrap;
    padding: 0px;
}

tr {
    border-bottom: 1px solid grey;
    background: #fff;
}

tr:last-of-type {
    border-bottom: none;
}

td:first-of-type {
    white-space: nowrap;
}


.do-not-assign {
    background: #cccccc;
    color: #666666;
}


tr:hover {
    background-color: lavender;
}

tr.header-row:hover {
    background-color: #4e2a84;
}

tr.do-not-assign:hover {
    background: #dedede;
}