*{
    text-shadow: none;
    font-family: sans-serif;
}

  @media (max-width: 800px) {
    h1 {
      color: fuchsia;
    }
  }

.center {
    width: 171px;
    text-align: center;
}

.thumb-tnone {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    width: auto;
    background-color: transparent;
}


.conInfoPar {
    margin: 0.4em 0px 0.5em;
    line-height: 1.5em;
}

.conTable {
    font-size: 12.7px;
    color: rgb(0, 0, 0);
    width: 75%;
}

.conTable#Important {
    width: 70%;
    text-align: center;
}

.conTable#Limbo {
    width: 50%;
}

.conTable#Managers {
    width: 50%;
}

.conPic {
    height: 100px;
    width: 100px;
}


